@charset "utf-8";

h1{
	text-align: center
}

h2{
	color: #000000;
	text-align: center
}

p{
	line-height: 150%;
	text-align: center
}


dt{
	font-weight: bold;
	color: #336699;
}

dd{
	text-indent: 1em;
}

address{
	font-size: 80%;
	font-weight: bold;
	text-align: right;
	border-top-style: solid;
	border-top-color: #6699cc;
	border-top-width: 3px;
	margin-top: 5px;
	padding: 5px
}

.intro{
	color: #336699;
}

.honbun{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.photo{
	float: left;
	margin-right: 10px;
}

.top{
	clear: both;
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #336699;
}

table{	
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 1px;
	border-color: black;
}

table.shouhin_table{
	width: 900px;	
}

th,tr,td{	
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 1px;
	border-color: black;
	padding: 5px;
}

th{
	color: #ffffff;
	background-color: #336699;
	text-align: center;
}

td.setsumei{
	width: 300px;
}

caption{
	font-size: 150%;
	font-weight: bold;
	color: #336699;
	text-align: left;
}

a{
	color: #0000EE;
}

a:hover{
	color: #cc6699;
}

a img{
	border: 0px;
}

#navi{
	text-align: center;
	margin: 0;
	padding: 0;
}

#navi ul{
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
}

#navi li{
	background: yellow;
	float: left;
	margin-right: 50px;
}

/*#contents{
	  width: 900px;  
    margin: 0 auto;  
    text-align: center;  
  }*/